@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

a {
  text-decoration: none;
}